/*
Place your custom CSS here
*/
div.pivotDataWidget.configurationErrors {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

div.pivotDataWidget table,
div.pivotDataWidget th,
div.pivotDataWidget td {
	border: 1px solid #D7D7D7;
    border-collapse: collapse;
}

div.pivotDataWidget th,
div.pivotDataWidget td {
    padding: 5px;
}

div.pivotDataWidget td {
    text-align: center;
}

div.pivotDataWidget.cellLeft td {
    text-align: left;
}

div.pivotDataWidget.cellRight td {
    text-align: right;
}
