/*
Place your custom CSS here
*/
div.pivotTableWidget.configurationErrors {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

div.pivotTableWidget table,
div.pivotTableWidget th,
div.pivotTableWidget td {
	border: 1px solid #D7D7D7;
    border-collapse: collapse;
}

div.pivotTableWidget th,
div.pivotTableWidget td {
    padding: 5px;
}

div.pivotTableWidget td {
    text-align: center;
}

div.pivotTableWidget.cellLeft td {
    text-align: left;
}

div.pivotTableWidget.cellRight td {
    text-align: right;
}
