/*
Place your custom CSS here
*/
div.pivotTableWidget.configurationErrors {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

div.pivotTableWidget table,
div.pivotTableWidget th,
div.pivotTableWidget td {
	border: 1px solid #D7D7D7;
    border-collapse: collapse;
}

div.pivotTableWidget th.pivotTableTopLeft {
    vertical-align: bottom;
    text-align: left;
}

div.pivotTableWidget tfoot {
	border-top: 2px solid #D7D7D7;
}

div.pivotTableWidget .pivotTableRowTotal,
div.pivotTableWidget thead tr th:last-child {
	border-left: 2px solid #D7D7D7;
}

div.pivotTableWidget.pivotTableWidgetStriped table tr:nth-child(even) {
    background-color: #fbfbfb;
}

div.pivotTableWidget th,
div.pivotTableWidget td {
    padding: 5px;
}

div.pivotTableWidget td {
    text-align: center;
}

div.pivotTableWidget td.clickable {
    cursor: pointer;
}

div.pivotTableWidget.cellLeft td {
    text-align: left;
}

div.pivotTableWidget.cellRight td,
div.pivotTableWidget.cellRight thead th.pivotTableColumnHeader {
    text-align: right;
}
